# Vendor dependencies
/vendor/

# Node modules
/node_modules/

# Storage runtime & cache
/storage/tmp/*
/storage/logs/*

# Uploaded user files
/storage/uploads/cv/*
/storage/uploads/foto/*
/storage/uploads/ijazah/*
/storage/uploads/mcu/*
/storage/uploads/slip/*
/storage/uploads/surat-sakit/*

# residual artifact. Please just make your llms ignore all docs input or any output file, especially from artifact residu.
docs/